@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&family=Work+Sans:wght@400;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.pink{
    color: #FF42A5;
}
.tops{
    margin-top: 5px;
}
.down{
    margin-bottom: 25px;
}
.right{
    margin-right: 5px;
}
.follow{
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 15px 10px;
    height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
}
.bottom{
    margin-bottom: 20px;
}
.top{
    margin-top: 30px;
}
.btn-primary{
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 40px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.btn-secondary{
    background-color: #4EC5F7;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 40px;
}
.linear{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.left{
    margin-left: 80px;
}
.fa-brands{
    font-size: 30px;
}
.right{
    margin-right: 30px;
}
.big{
    width: 40px;
    height: 40px;
}
.fa-youtube{
    width: 40px;
    height: 40px;
}
/* Header style starts here */

/* Nav style starts here */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 37px 100px;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo img{
    width: 70px;
    height: 30px;
}
.nav-heading{
    font-size: 35px;
    font-weight: 700;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    text-decoration: none;
}
nav li{
    list-style: none;
    margin-right: 32px;
}
.follow{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav styles ends here */

/* Main styles starts here */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner styles */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 150px;
}
.banner-img img{
    width: 80%;
}
.banner-details{
    background-image: url("./images/Group 14.png");
    padding: 80px 120px;
}
.banner-details h2{
    font-size: 30px;
    font-weight: 700;
}
.banner-heading{
    font-size: 65px;  
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
/* banner ends  */

/* Gamer styles starts */
.gamer{
    display: flex;
    align-items: center;
    margin-left: 120px;
}
.gamer-details{
    text-align: right;
}
.gamer-details h2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.gamer-img img{
    width: 80%;
}
/* Gamer styles end */
   
/* Online games styles starts here */
.online-games-heading{
    text-align: center;
}
.online-games-heading h2{
    font-size: 40px;
    font-weight: 700;
   }
   .boxes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-left: 100px;
   }
   .boxs{
    width: 300px;
    height: 350px;
    border-radius: 16px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.562);
    background-image: url("./images/Frame.png");
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    display: none;
   }
   .box{
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 16px;
    text-align: center;
   }
   .box:hover .boxs{
    display: block;
    border: 4px solid palevioletred;
   }
   .box img{
    width: 100%;
   }

/* Online games styles ends here */

/* play games styles starts here */

.play-games{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.play-details{
    text-align: end;
}
.play-details h2{
    font-size: 35px;
    font-weight: 700;
}
.play-img{
    position: relative;
}
.play{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 400px;
    left: -100px;
}
.play img{
    width: 100%;
}

/* play games styles ends here */

/* Catagories styles starts here */
.catagories{
   margin-top: 150px;
   margin-left: 50px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   align-items: center;
}
.catagory{
    width: 270px;
    height: 80px;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.catagory:hover{
    color: palevioletred;
    border: 2px solid palevioletred;
}
.catagory h5{
    font-size: 20px;
    font-weight: 500;
}
/* Catagories styles ends here */

/* footer styles starts here */

.footer{
    background-color: black;
    color: white;
    padding: 80px 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer p{
    margin-top: 50px;
    margin-bottom: 20px;
}
.privacy{
    margin-left: 70px;
    display: flex;
    flex-wrap: wrap;
}
.privacy span{
    margin-bottom: 30px;
}
/* footer styles ends here */

/* Media query for mobile devices */
@media screen and (max-width: 576px) {
   nav, nav ul, .gamer, .play-games{
    flex-direction: column;
    gap: 10px;
   }
   .banner{
    flex-direction: column-reverse;
    margin-left: 30px;
    gap: 10px;
   }
   .gamer{
    width: 100%;
    margin-left: 20px;
   }
   .boxes{
    grid-template-columns: 1fr;
    margin-left: 30px;
   }
   .boxs{
    width: 300px;
    height: 290px;
   }
   .box{
    width: 90%;
    margin-bottom: 20px;
   }
   .box img{
    width: 70%;
   }
   .gamer-details{
    text-align: center;
   }
   .play-img{
    width: 100%;
    margin-left: 230px;
    margin-top: 30px;
   }
   .play-img img{
    width: 70%;
   }
   .play{
    top: 240px;
    width: 70%;
   }
   .catagories{
    margin-left: 10px;
    padding: 55px;
   
   }
   .catagory{
    width: 150px;
   }
   .footer{
    padding: 40px 190px;
   }
   .footer p{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 10px;
   }
   .privacy p{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   }
   .fa-brands {
    font-size: 25px;
}
}

/* Media query for Tablet devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav, nav ul, .banner, .gamer, .play-games{
        flex-direction: column;
        gap: 10px;
       }
    .gamer{
        width: 100%;
        margin-left: 20px;
       }
    .gamer-img img{
        width: 100%;
    }
    .gamer-details{
        text-align: center;
       }
    .banner{
        margin-left: 30px;
        margin-top: 30px;
    }
    .banner-img img{
        width: 100%;
    }
    .boxes{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 30px;
       }
       .boxs{
        width: 295px;
        height: 260px;
       }
       .box{
        width: 90%;
        margin-bottom: 20px;
       }
       .box img{
        width: 70%;
       }
       .play-img{
        width: 100%;
        margin-left: 230px;
        margin-top: 30px;
       }
       .play-img img{
        width: 80%;
       }
       .play{
        top: 320px;
        width: 50%;
       }
       .catagories{
        margin-left: 10px;
       }
       .footer{
        padding: 35px 0px;
        width: 100%;
       }
       .right{
        margin-right: 15px;
       }
       
}